html(style="width: #{width}px")
  head
    meta(charset="utf8")
    style #{getStyle('cyborg')}
    style #{getStyle('main')}
  body(style="width: #{width}px")
    .container-fluid
      .row
        .col-xs-12
          h5 #{str("header")}
      .row
        for thread, index in data
          div(class="col-xs-#{columnSize}")
            a.btn.btn-primary.thread-user(href="javascript:;")
              svg.thread-number(xmlns="http://www.w3.org/2000/svg")
                text(x="100%", y="50%", dy=".3em", text-anchor="end", xml:space="preserve") !{index + 1}
              // YEAH, TABLES, BITCH, TABLES!!!
              table.thread-user-table
                tbody
                  tr
                    td.thread-user-image(style="background-image: url(#{thread.OtherUser.ImageUrl})")
                    //td.thread-user-image(style="background-image: url(http://lorempixel.com/200/200/cats/?lel=#{index})")
                    td.thread-user-info
                      div.thread-user-name
                        span #{thread.OtherUser.Name}
                        //span #{"Gatinho(a) #" + (index + 1)}
                      div.thread-user-counter
                        span !{plural(thread.MessageCount, "message_counter")}
      .row
        .col-xs-12
          h5 !{str("footer")}